
body {
  background-color: rgb(255, 255, 255);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid rgb(194, 102, 102);
  background-color: rgb(255, 191, 239);
}

#score, #highScore {
  color: rgb(0, 0, 0);
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(255, 255, 255);
  z-index: 2;
}

#snake-head {
  background-color: rgb(255, 255, 255);
}

.apple {
  background-color: red;
  z-index: 1;
}