

body {
  background-color: rgb(197, 253, 255);
}


#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: rgb(255, 255, 255);
}


#score, #highScore {
  color: rgb(0, 0, 0);
}


.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}


.snake {
  background-color: rgb(252, 169, 210);
  z-index: 2;
}


#snake-head {
  background-color: rgb(252, 169, 210);
}


.apple {
  background-color: rgb(255, 243, 131);
  z-index: 1;
}
